.item-management{
--tree-line-color: #18CB5F;
  + ul:before{
    border-color: #18CB5F;
  }
}
.item-branch{
--tree-line-color: #F19B02;
  + ul:before{
    border-color: #F19B02;
  }
}
.item-department{
--tree-line-color: #F42588;
  + ul:before{
    border-color: #F42588;
  }
}
li.tree-fix-ar{
  &:before, &:after{
     left: 50%;
     right: auto;
   }
&:after{
     right: 50%;
     left: auto;
   border-right: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
  border-left: 0;
   }
&:first-of-type::after{
   border-radius: 0 var(--tree-line-border-radius) 0 0;
 }
&:last-of-type::before {
  border-left: var(--tree-line-width) var(--tree-node-line-style) var(--tree-line-color);
   border-right: 0;
  border-radius: var(--tree-line-border-radius) 0 0 0;
}
}
.no-select {
  user-select: none !important;
}